@import url("~/shared/styles/colors.css");

ActionBar {
	background-color: #FFD600;
	color: #FFF;
}

NavigationButton {
	color: #FFF;
}

Button {
	height: 70;
}

Button.button-link {
	background-color: transparent;
	border-radius: 1;
	color: #ccc;
	height: 50;
}

Label.title {
	margin: 5 0 10 0;
	font-size: 20;
}

Label.paragraph {
	margin: 10 0;
	font-size: 16;
}

.signup-view TextField {
	margin: 5 0;
	padding: 15 5;
}